html,body{
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #FFFFFF;
    --color-secondary: #FF6565;
    --color-custom:#00000000;
}
main .header{
    background-image: url(../headphones/images/images/headphones_hero_1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100vw;
    height:100vh;
    margin:0;
}
.container{
    display: flex;
    flex-direction: row;
    padding:20px 130px 20px 130px ;
}
.header p{
    font-size: 3.6rem;
    font-weight: bold;
    margin: 0;
    color:var(--color-primary);
}
.logo{
    display:flex;
    flex-direction:row;
}
 .logo img{
    margin-right:20px; 
 }
 .logo p{
    padding-top: 1.5rem;
    text-transform: uppercase;
    font-size: 2.4rem;
 }
.nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font:var(--color-primary);
    list-style-type: none;
    margin:0;
    padding-top:2rem;
    width: 100%;
    transition: color 0.5s ease-out 0ms linear;
}
li a:hover{
    color:var(--color-secondary);
}
li a{
    font-size:1.5rem;
    font-weight: bold;
    text-decoration:none;
    color:var(--color-primary);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    color:var(--color-primary);
}
.content-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    margin-top:10rem;
}
.content-header h1{
    font-size:3.2rem;
    font-weight: bold;
    margin:0;
}
.content-header h4{
    font-size: 1.6rem;
    margin:0;
}
.content-text{
    display: block;
    flex-direction: inline;
    width:50%;

}
.content-text p{
    font-size:1.2rem;
    font-weight: normal;
    margin-top:6rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}
button{
     margin-top:3rem;
     background-color: var(--color-secondary);
     cursor: pointer;
     border:none;
    padding:1rem 2rem;
    text-transform: uppercase;
    font-size:1.2rem;
    color:var(--color-primary);
    font-weight: bold;
    border-radius: 1.4rem;
}
/* Hero 2 section of the webpage*/
.hero-2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    font-size: 1.6rem;
}

.article{
    width:50%;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1rem;
}
.article-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:9rem ;
    flex-wrap: nowrap; 
    padding:0 10rem 0 10rem;
}
/* .content-element{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
} */
